@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    font-family: Inter;
    background-color: #FAF9F6;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#typing-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 999;
    transition: opacity 0.5s ease;
}

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}